table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.create_staff {
  line-height: 54px;
}

.staffAction {
  background: #1e4378;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  color: aquamarine;
}